*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

#container{
    width: 600px;
    height: 600px;
    border: solid 1px #000;
    margin: 10px auto;
    display: flex;
}

.square{
    flex: 1 1 auto;
    border: 0.5px dotted #ccc;
}