*{
    box-sizing: border-box;
}

body{
    text-align: center;
}

#container{
    width: 600px;
    height: 600px;
    border: solid 1px #000;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
}

.cell{
    flex: 1;
    border: 0.2px dotted #ccc;
}

